
.ui-fly {
    display: inline-block;
}

.ui-fly:hover {
    animation: shake 1s ease infinite;
}

.ui-fly-no-shake:hover {
    animation: none;
}


@keyframes shake {
    0%, 20%, 40%, 60%, 80%, 100%{
        transform: translate3d(3px, 5px, 0);
    }
    10%, 30%, 50%, 70%, 90%{
        transform: translate3d(-2px, -4px, 0)
    }
}
